@import url('https://fonts.googleapis.com/css2? family= Lato:ital@1 & display=swap');

/* Estilos botones navbar */

.btn.btn-primary {
  font-size: 20px;
  color: #000000;
  background-color: #008000;
  border: 0;
}

/* Estilos formulario Login */

.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.formulario {
  width: 50%;
	font-size: 15px;
  font-family: 'Lato', sans-serif;
  background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #F3F820;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 800;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
  background-color: #F3F820;
}

.formulario input,
.formulario textarea {
	font-family: 'Lato', sans-serif;
	width: 80%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
  background-color: #F3F820;
  border-color: #4A7F45;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 800;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #407A41;
	font-weight: 800;
	font-family: 'Lato', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #9FC539;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #9FC539;
  color: #407A41;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}

/* Estilos barra buscador */

.form-control {
  background-color: #9FC539;
  color: #1f1f1f;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  border: 0;
}


